<h1>Add Event</h1>

<form method="post">
    <label for="event-name">Name</label>
    <input name="name" type="text" id="event-name" />
    <!---<label for="event-date">Date</label>
    <input name="date" type="date" id="event-date" />-->
    <label for="event-description">Decsription</label>
    <input name="description" type="text" id="event-description" />
    <input type="submit" value="Add Event" />
</form>
