<h1>Coding Events</h1>
<p>
    <a asp-controller="Events" asp-action="Add">Add Event</a>
</p>

@if (@ViewBag.events.Count  == 0)
{
    <p>No Events yet!</p>
}
else
{
    <table>
        <tr>
            <th>Name</th>
            <th>Description</th>
        </tr>
        <tr>
            @foreach (string thing in ViewBag.events.Keys)
            {
                <td>@thing</td>
                <td>@ViewBag.events[thing]</td>
            }
         </tr>
    </table>
}
